#container {
    margin-top: 50px ;
    margin-left: 100px;
    margin-right: 100px;
}
h1, h2, h3, h4{
    font-family: 'Ubuntu';
    font-weight: 400;
}
h1, h2, h3, h4 {
    background-color: blue;
    color: white;
    border: 1px solid #d6a800;
    padding: 10px;
}
a{
    color: #d6a800;
    text-decoration: none;
}
a.hover{
    color: lightslategray;
}
a.visited{
    color: rgb(1, 1, 89);
}
